  <div class="track-box">
    <div class="artwork">
      <img src="{{artwork_url}}" alt="{{title}}">
    </div>
    <div class="genre">
      <p>Playlist: {{genre}}</p>
    </div>
      <h2 class="title">{{title}} . <span>{{duration}}</span></h2>
    <div class="favs">
      <a href="#" data-id={{id}}><i class="fa fa-star-o"></i></a>
    </div>
    <div class="play">
      {{#if streamable}}
      <i class="fa fa-play-circle"></i>
      {{else}}
      <i class="fa fa-ban"></i>
      {{/if}}
    </div>
  </div>

